<table>
    <tr><h2>アカウント</h2></tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= current_user.email %></td>
    </tr>
    <tr>
        <th>パスワード</th>
        <td><%= current_user.encrypted_password %></td>
    </tr>
    <tr>
        <%= link_to "編集",edit_user_registration_path(current_user.id) %>
    </tr>
</table>
